body {
      background-color: Black;
}

div img.suelo_lunar {
                     position: fixed;
                     bottom: 0;
                     height: 100px;
                     width: 100%;
}

div img.nave_espacial  {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
}